<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.nuvio.app.auth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>nuvioenhanced</string>
				<string>nuvio</string>
				<string>stremio</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>IconEnhanced</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconEnhanced</string>
				</array>
			</dict>
			<key>IconMonochrome</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconMonochrome</string>
				</array>
			</dict>
			<key>IconAurora</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconAurora</string>
				</array>
			</dict>
			<key>IconChrome</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconChrome</string>
				</array>
			</dict>
			<key>IconEmerald</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconEmerald</string>
				</array>
			</dict>
			<key>IconGear</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconGear</string>
				</array>
			</dict>
			<key>IconNeon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>IconNeon</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>infuse</string>
		<string>vlc-x-callback</string>
		<string>outplayer</string>
		<string>open-vidhub</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<false/>
</dict>
</plist>
